huggingface-hub==0.24.6
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.34
langchain-experimental==0.0.64
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langsmith==0.1.104
nltk==3.9.1
numpy==1.26.4
openai==1.42.0
tokenizers==0.19.1
transformers==4.44.1
wordsegment
spacy